* {
    font-size: 20px;
}

.select .main {
    border: 1px solid black;
    display: inline-block;
    min-width: 40px;
    min-height: 30px;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
}

.item.selected {
    background-color: #1ea7fd;
    color: white;
}
